.hero-container {
  position: relative;
  height: 100vh;
  background-image: url("/src/components/assets/hero1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  z-index: 2;
}

.hero-title {
  /* font-weight: bold; */
  margin-bottom: 20px;
}

.hero-title-text {
  color: yellow;
  font-weight: 800;
  font-size: xx-large;
}

.hero-subtitle {
  margin-bottom: 40px;
  padding-top: 10px;
  font-family: "Courier New", Courier, monospace;
}

.hero-button {
  background-color: #f50057;
  color: white;
  /* padding: 10px 20px; */
  padding-top: 20px;
  font-size: 16px;
}
