.hero-container {
  position: relative;
  height: 100vh;
  background-image: url("/src/components/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Optional: For better text readability */
  padding: 20px;
  border-radius: 8px;
  z-index: 1; /* Ensure it layers correctly */
}

.hero-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-title-text {
  color: red; /* Change the text color to red */
}

.hero-subtitle {
  margin-bottom: 40px;
}

.hero-button {
  background-color: #f50057; /* Customize button color */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}
